<div class="form">
  <fieldset>

    <div class ='form-group'>
      <label class = 'form-control-label'>Hairstyle Name:</label>
       <%= h.text_field :hairstyle, class: 'form-control' %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Category:</label>
       <%= h.select :hairstyle_category_id, @categories.map {|c| [c.name, c.id]} %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Description:</label>
       <%= h.text_area :style_description, class: 'form-control' %>
    </div>

  </fieldset>
</div>
