<table>

  <tr>
    <th>Name</th>
    <td><%= a.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Surname</th>
    <td><%= a.text_field(:surname) %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= a.text_field(:email) %></td>
  </tr>

  <tr>
    <th>Password</th>
    <td><%= a.text_field(:password) %></td>
  </tr>

</table>
