<%= link_to("<< Back Admins", admins_path) %>

<div>
  <h2>Update Admin</h2>

    <%= form_for(@admin) do |a| %>

      <%= render(:partial => 'admin_form', :html => {:multiport => true}, :locals => {:a => a}) %>

    <div>
      <%= a.submit("Update Admin") %>
    </div>

  <% end %>
</div>
