<%= link_to("<< Back to Client Profile", show_client_admin_path(@client)) %>

<div>
  <h2>Admin Updating Client</h2>

  <%= form_for(@client, :url => update_client_admin_path(@client), :method => 'patch') do |c| %>

 <%= render(:partial => 'clients/client_form', :html => {:multiport => true}, :locals => {:c => c}) %>


    <div>
      <%= c.submit("Update Client") %>
    </div>

  <% end %>
</div>
