<h2>Clients</h2>

<h3>List of Clients on Hairlinkd</h3>
<hr>


<% @client.each do |client| %>


<%= render(:partial => 'clients/index_clients', :html => {:multiport => true}, :locals => {:client => client})%>

<br />
<%= link_to("View Profile", show_client_admin_path(client))%><br />

<hr>

<% end %>

</div>
