  <section id = "background_stylist_one">


        <div class="container">
          <div class = "row">
              <div class="col-sm-9 offset-md-3">
                <div class="jumbotron jumbotron-fluid" id = "jumbo_1">
                  <div id = "jumbo_1_text lead">
                    <h2>Now you can transform and grow your business with your skills</h2>
                  </div>
                </div>
              </div>
          </div>
        </div>


  </section>
