<div class="container">
  <div class="row d-flex align-items-center" style = "margin:30px 0px 30px;">

    <sub-section class = " col-md-6" style = "height:100%;">
      <div>
        <div class="text-center m-4">
          <h1>WORK WITH <span style = "color:#D4AF37;">CLIENTS</span> THAT MATTER </h1>
        </div>

        <div class="lead" style = "text-align:justify;">
          <p>Somewhere out there, someone is desperately searching for your what you have to offer.
            So, we’ve design our matching algorithm to connect you with potential clients that will
            value your skills and services. The more information you provide, the easier it will be
            for clients to find you. You can also choose to utilise our inhouse services to convert
            your clients into raving fans of your business.</p>

            <hr>
            <p>TRY IT OUT, FOR <strong>FREE</strong></p>
        </div>

        <div class = "text-center">
          <%= button_to "Sign up as a Stylist", new_stylist_path, class: "btn", style: "display: inline-block;",:method => :get %>

        </div>

      </div>

    </sub-section>

    <sub-section class = "col-md-6 text-center">
        <img src="/assets/background/dryer1.jpg" class = "img pt-5 pb-5 img-fluid" />
    </sub-section>

  </div>
</div>
