<div class="container">
  <div class="row d-flex align-items-center" style = "margin:30px 0px 30px;">

    <sub-section class = "col-md-6">
        <img src="/assets/background/tools.jpg" class = "img img-fluid pt-5 pb-5" />
    </sub-section>

    <sub-section class = "col-md-6" style = "height:100%;">
      <div>
        <div class="text-center m-4">
          <h1>GET YOUR BUSINESS <span style = "color:#D4AF37;">LINKD</span></h1>
        </div>

        <div class="lead" style = "text-align:justify;">
          <p>Our goal is to assist you, as a hair stylist, to continuously improve your
            business and grow your customer base. Not only do we offer a platform to
            showcase your skills and talent, we provide you essential tools and information
            to ensure you standout from the rest. So, whether you are just starting out and
            need to make a name for yourself, or your business is already up and running but
            just need help in scaling or marketing, we are there to ensure you succeed.</p>
            <hr>

            <p>SIGN UP NOW, IT'S <strong>FREE</strong></p>
        </div>

        <div class = "text-center">
          <%= button_to "Sign up as a Stylist", new_stylist_path, class: "btn", style: "display: inline-block;",:method => :get %>

        </div>

      </div>

    </sub-section>

  </div>
</div>
