<section id = "background_stylist_two">
        <div class="container text-center">

                <h2 style = "color:#D4AF37; padding-top:100px; padding-bottom:100px;">Focus on your skill, everything else is on us</h2>

          </div>
</section>
