<div class="container">
  <h2 class = "text-center p-5" style = "margin-top:30px;">MORE REASONS FOR USING <span style = "color:#D4AF37;">HAIRLINKD</span></h2>

  <div class="row">

    <div class="col-md-4">
      <div class="text-center">
        <img src="/assets/background/benefit1.jpg" class = "img pt-5 pb-5" />
      </div>

      <p class="lead text-center">
        STAND OUT
      </p>
      <p style = "text-align:justify"> Be different from other stylist and salons. Showcase your skills and talents online and target potential clients in your area. Build a strong following, grow your reputation and gain popularity through ratings.</p>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <img src="/assets/background/benefit2.jpg" class = "img pt-5 pb-5" />
      </div>
      <p class="lead text-center">
        INHOUSE SERVICES
      </p>
      <p style = "text-align:justify">Our client management system features a friendly appointment and payment system. In addition, prepare for your appointments by get vital information about your clients such as likes, dislikes, client hairstyle history and many more.</p>
      <p style = "font-style:italic;">*availiable for premium stylists</p>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <img src="/assets/background/benefit3.jpg" class = "img pt-5 pb-5" />
      </div>
      <p class="lead text-center">
        INSIGHTS
      </p>
      <p style = "text-align:justify">Get continuous feedback on your business performance and tips on how to improve. See how you perform against your competitors. Take full advantage of being one of the first to get info on trends that are picking up in your area.</p>
        <p style = "font-style:italic;">*availiable for premium stylists</p>
    </div>

  </div>

  <div class = "text-center">
    <%= button_to "Sign Up: Stylists", new_stylist_path, class: "btn btn-block", style: "color:gold;", :method => :get %>
  </div>

  </div>
