<div class="container">
  <div class="row d-flex align-items-center" style = "margin:30px 0px 30px;">

    <sub-section class = " col col-md-6" style = "height:100%;">
      <div>
        <div class="text-center m-4">
          <h1>WORK WITH <span style = "color:#D4AF37;">CLIENTS</span> THAT MATTER </h1>
        </div>

        <div class="lead">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>

        <div class = "text-center">
          <%= button_to "Sign up as a Stylist", new_stylist_path, class: "btn", style: "display: inline-block;",:method => :get %>

        </div>

      </div>

    </sub-section>

    <sub-section class = "col col-md-6;">
        <img src="/assets/background/dryer1.jpg" class = "img pt-5 pb-5" />
    </sub-section>

  </div>
</div>
