<div class="container">
  <h2 class = "text-center p-5" style = "margin-top:30px;">MORE REASONS FOR USING <span style = "color:#D4AF37;">HAIRLINKD</span></h2>

  <div class="row">

    <div class="col-md-4">
      <div class="text-center">
        <img src="/assets/background/benefit1.jpg" class = "img pt-5 pb-5" />
      </div>

      <p class="lead text-center">
        STAND OUT
      </p>
      <p style = "text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras urna augue, ultrices malesuada rutrum a, sollicitudin at enim. Nunc porta vitae lacus a iaculis.
        Aliquam hendrerit in lectus vitae auctor. Donec vestibulum sed nunc id semper.</p>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <img src="/assets/background/benefit2.jpg" class = "img pt-5 pb-5" />
      </div>
      <p class="lead text-center">
        INHOUSE SERVICES
      </p>
      <p style = "text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras urna augue, ultrices malesuada rutrum a, sollicitudin at enim. Nunc porta vitae lacus a iaculis.
        Aliquam hendrerit in lectus vitae auctor. Donec vestibulum sed nunc id semper.</p>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <img src="/assets/background/benefit3.jpg" class = "img pt-5 pb-5" />
      </div>
      <p class="lead text-center">
        INSIGHTS
      </p>
      <p style = "text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras urna augue, ultrices malesuada rutrum a, sollicitudin at enim. Nunc porta vitae lacus a iaculis.
        Aliquam hendrerit in lectus vitae auctor. Donec vestibulum sed nunc id semper.</p>
    </div>

  </div>

  </div>
