<div class="container" style = "margin-top:30px;">
  <h2 class = "text-center p-5">MORE REASONS FOR USING <span style = "color:#D4AF37;">HAIRLINKD</span></h2>

  <div class="row">

    <div class="col col-sm-4">
      <p class="lead">
        Benefit 1
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras urna augue, ultrices malesuada rutrum a, sollicitudin at enim. Nunc porta vitae lacus a iaculis.
        Aliquam hendrerit in lectus vitae auctor. Donec vestibulum sed nunc id semper.</p>
    </div>

    <div class="col col-sm-4">
      <p class="lead">
        Benefit 2
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras urna augue, ultrices malesuada rutrum a, sollicitudin at enim. Nunc porta vitae lacus a iaculis.
        Aliquam hendrerit in lectus vitae auctor. Donec vestibulum sed nunc id semper.</p>
    </div>

    <div class="col col-sm-4">
      <p class="lead">
        Benefit 3
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras urna augue, ultrices malesuada rutrum a, sollicitudin at enim. Nunc porta vitae lacus a iaculis.
        Aliquam hendrerit in lectus vitae auctor. Donec vestibulum sed nunc id semper.</p>
    </div>

  </div>

  </div>
