<h1>StylistHome#index</h1>
<p>Find me in app/views/stylist_home/index.html.erb</p>

<%= button_to "Home Page", root_path, class: "btn", id: "stylist_page_button", style: "display: inline-block;",:method => :get %>
