<table>
  <div><%= image_tag portfolio.image.url(:thumb).to_s %></div>

<% if portfolio.service %>
  <tr>
    <th>Hairstyle:</th>
    <td><%= portfolio.service.name %></td>
  </tr>

  <tr>
    <th>Category:</th>
    <td><%= portfolio.service.category%></td>
  </tr>

  <tr>
    <th>Details:</th>
    <td><%= portfolio.details%></td>
  </tr>
</table>
<% end %>
