
  <div class = "card" style = "width:200px;">
    <img src="/assets/web-deco/Style_2.jpg" class = " card-img-top pl-4"/>
  <div class="card-body">
    <table>
      <div style = "width:150px;"></div>

      <tr>
        <th>Hairstyle:</th>
        <td>Faux Loux</td>
      </tr>

      <tr>
        <th>Category:</th>
        <td>Natural Hairstyle</td>
      </tr>
      <tr>
        <th>Details:</th>
        <td>Contact me for the good prices and the best service</td>
      </tr>
    </table>
  </div>
 </div>



<div class = 'form-group'>
  <fieldset >

    <div class ='form-group'>
      <label class = 'form-control-label'>Picture:</label>
       <%= p.file_field :image, class: 'form-control' %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Hairstyle<span style="color:red;">*</span>:</label>
      <%= p.select :service_id, @service.map {|s| [s.name, s.id]}, :include_blank => true, class: 'form-control' %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Details:</label>
      <%= p.text_area :details, class: 'form-control' %>
    </div>

    <div class ='form-group' style = 'display:none;'>
      <label class = 'form-control-label'>Stylist:</label>
        <%= p.text_field :stylist_id , class: 'form-control' %>
    </div>

  </fieldset>
</div>
