<div class = "container">

<div class = "m-3">
  <%= button_to("<< Back to Profile", stylist_path(current_stylist), method: :get, class: "btn btn-secondary btn-sm") %>
</div>


    <h4 class = 'text-center'>Add Item To Your Portfolio</h4>

  <%= form_for(@portfolio) do |p| %>


    <%= render(:partial => 'portfolio_form', :locals => {:p => p}) %>


    <div class = "text-center">
      <%= p.submit "Add Item", class: "btn btn-secondary btn-sm" %>
    </div>

  <% end %>
</div>
