<div>
  <%= link_to("<< Back to Stylist", stylist_path(@portfolio.stylist.id, :stylist_id => current_stylist.id)) %>
</div>

<div>
  <h2> Portfolio Details</h2>
</div>

<div>
  <%= render(:partial => 'show_portfolio', :hmtl => {:multiport => true}, :locals => {:portfolio => @portfolio}) %>
</div>
