<h2> List of Users </h2>

<%= link_to("Add a User", users_path, :method => :post) %>


<% @user.each do |user| %>
<table>
  <tr>
    <th>User_ID: </th>
    <td><%= user.id %></td>
  </tr>
</table>
<% end %>
