<div class = 'container'>

  <div class = 'm-3'>
    <%= button_to("<< Back to Profile", client_path(@client), method: :get, class: 'btn btn-secondary btn-sm') %>
  </div>

  <div class = 'text-center'>
    <h2>Delete Profile?</h2>

      <%= form_for(@client, :method => 'delete') do |f| %>

      <p>Are you sure you want to permanently delete your profile? This action cannot be undone.</p>

    <div>
      <%= f.submit("Delete Client", class: 'btn btn-danger btn-sm') %>
    </div>

  <% end %>
</div>

</div>
