
<div class = "container">
    <h3 class = 'text-center mt-3'>Hairstyle Gallery</h3>


<div class = "row">
  <div = class = 'col col-sm-12'>
    <div = class = 'container'>
      <div class = 'card-group'>
        <% @style.each do |style| %>
            <div class = 'card-body' style = 'width:auto;'>
              <div class = 'card text-center' style = 'width:200px;'>

                <%= render(:partial => 'styles/index_styles', :html => {:multiport => true}, :locals => {:style => style}) %>


                  <%= link_to("More Info", show_style_client_path(style, :client_id => current_client.id, class: 'card-link'))%>
                  
              </div> <!--card-->
            </div><!--card-body-->
          <% end %>
        </div><!--card group-->


      </div><!--container-->
  </div><!--col-->


</div><!--row-->
</div><!--container-->
