<div class = "container">

<div class = "text-center">
  <h3><%= @client.name%></h3>
</div>

  <div class = 'm-3'>
    <!-- <% if Admin.exists?(session[:admin_id]) %> -->
      <%= button_to("<< Clients", clients_path, method: :get, class: 'btn btn-sm') %>
    <!-- <% end %> -->
</div>

<div>
  <%= render(:partial => 'show_client', :html => {:multiport => true}, :locals => {:client => @client})%>
</div>

<div class = "text-center m-4" >
  <%= button_to "Delete Profile", delete_client_path(@client), method: :get, class: "btn btn-danger btn-sm" %>
</div>

</div>
