<section id = "background_home_two">
        <div class="container" style = "margin-top:100px; margin-bottom:100px;">
          <blockquote class = "blockquote">
            <h3 style = "color:#EAEAEA;">I love my hair because it’s a reflection of my soul. It’s dense, it’s kinky, it’s soft, it’s textured, it’s difficult, it’s easy and it’s fun. That’s why I love my hair.</h3>
            <footer class = "blocquote-footer" style = "color:#D4AF37;">-Tracee Ellis Ross</footer>
          </blockquote>

          </div>
</section>
