<div class = "container">
  <div class = "row d-flex align-items-center" style = "margin:30px 0px 30px;">

  <sub-section class = "col col-md-6;">
      <img src="/assets/background/connect_client1.jpg" class = "img pt-5 pb-5" />
  </sub-section>

    <sub-section class = " col col-md-6" style = "height:100%;">

        <div>
          <div class="text-center m-4">
            <h1>HOW WE GET YOU <span style = "color:#D4AF37;">LINKD</span></h1>
          </div>

          <div class="lead">
            <p>We make the effort to get to know <strong>you and your exact needs.</strong></p>
            <p>Our matching algorithm then searches through thousands of stylists to find you the best possible stylists for your needs.</p>
               Our algorithm will search using two factors:
               <ul>
                 <li>first, the best possible stylist that can cater for your needs (e.g. style, products on stock, location, budget etc) and</li>
                 <li>second, the best possible stylist that will offer the best experience while doing your hair</li>
               </ul>
.
          </div>

          <div class = "text-center">
            <%= button_to "Sign up as a Client", new_client_path, class: "btn", id: "client_register_div_one", style: "display: inline-block;",:method => :get %>

          </div>

        </div>
    </sub-section>

  </div>  <!-- row -->
</div>  <!-- container -->
