<section class="background_home_three text-center">
          <div>
                <h2>CLIENT SITE LAUNCH: <span style = "text-decoration:underline;">Coming Soon</span></h2>

                  <h4 class = "m-4">Keep up to date with the developments and be one of the first clients to use Hairlinkd</h4>
                    <%= button_to("SIGN UP NOW!", new_client_path, class: "btn btn-gold", id: "client_register_div_two", style: "display: inline-block;", :method => :get) %>
          </div>
</section>
