<section id = "background_home_four">
        <div class="text-center" style = "padding-top:150px; padding-bottom:150px;">
          <h1 style = "color:#EAEAEA; padding:10px;">Now you can look good and feel great all the time</h1>
        </div>
</section>
