<div class = "container">
  <div class = "row" style = "margin:30px 0px 30px; border: 1px solid green;">

  <sub-section class = "col col-md-6">
      <img src="/assets/background/connect_client.jpg" class = "img" />
  </sub-section>

    <sub-section class = " col col-md-6" style = "border: 1px solid red; height:100%;">

        <div>
          <div class="">
            <h2 style = 'text-decoration:underline; margin-bottom:15px;'>Here's how we do it</h2>
          </div>

          <div class="">
            <p>We make the effort to get to know you and your exact needs.
               Then our matching algorithm searches through thousands of stylists to find you the best possible stylists for your needs.
               Our algorithm is designed to match you according to two factors:
               one, the best possible stylist that can cater for your needs (e.g. style, products on stock, location, budget etc),
               two, also the best possible stylist that offer the best experience while doing your hair.</p>
          </div>

        </div>
    </sub-section>

  </div>  <!-- row -->
</div>  <!-- container -->
