<div class = "container">
  <div class = "row d-flex align-items-center" style = "margin:30px 0px 30px;">

    <sub-section class = "col col-md-6">

        <div>
          <div class="text-center m-4">
            <h1>GET <span style = "color:#D4AF37;">LINKD</span> UP</h1>
          </div>

          <div class="lead">
            <p>Looking good really does not have to be a struggle.</p>
            <p>Our goal is to assist find the best possible hairstylist to suite your hairstyle requirements.</p>
            <strong><p>So, whether you are new in the area, or you have this amazing hairstyle in mind, we are here to point you in the right direction.</p></strong>
          </div>

        </div>
    </sub-section>

  <sub-section class = "col col-md-6">
      <img src="/assets/background/client1.jpg" class = "m-2" style = "box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
  </sub-section>



  </div>  <!-- row -->
</div>  <!-- container -->
