<div class = "container">
  <div class = "row" style = "margin:30px 0px 30px; border: 1px solid green;">

  <sub-section class = "col col-md-6">
      <img src="/assets/background/client.jpg" class = "img img-fluid" />
  </sub-section>

    <sub-section class = " col col-md-6" style = "border: 1px solid red; height:100%;">

        <div>
          <div class="">
            <h2 style = 'text-decoration:underline; margin-bottom:15px;'>Hairlinkd for Clients</h2>
          </div>

          <div class="">
            <p>Looking good really does not have to be a struggle.</p>
            <p>Our goal is to assist find the best possible hairstylist to suite your hairstyle requirements.</p>
            <p>So, whether you are new in the area you’re in, or whether you have this amazing hairstyle in mind, we are here to point you in the right direction.</p>
          </div>

        </div>
    </sub-section>

  </div>  <!-- row -->
</div>  <!-- container -->
