<section style = "background-image: url(/assets/web-deco/contact_us1.jpg);">
  <div class = "container text-center p-5">
    <div style ='width:100%; padding:10px;'>
      <h2>Lets Keep In Touch</h2>
    </div>


    <div style = "font-size:1.4em">
          <p>We would love to here from you.</p>
          <p>Whether its an issue you have, or you just want to say hello!!</p>
          <p>Drop us a message and we'll come back to you</p>
          <%= button_to("Contact Us", new_contact_form_path, method: :get, class: "btn btn-danger")%>
    </div>
  </div>
  </section>
