<section class="background_home_one">
    <div class = 'container text-center info_paragraph' style = "padding-top:10vh; padding-bottom:10vh;">
      <!-- <h3> Our Goal</h3> -->
          <h2 class = "mb-5">Finding that perfect stylist does not have to be a struggle anymore!!</h2>
          <p>We'll help you browse through hundreds of stylists out there, to find the most ideal stylist for your desired hairstyle. </p>
          <hr>

          <p>Register now and start your search!!</p>
          <div>
            <div style="float:left;">
              <%= button_to "Register as a Client", new_client_path, class: "btn btn-secondary ", id: "client_register_div_one", style: "display: inline-block;",:method => :get %>
            </div>
            <div style="float:right;">
              <%= button_to("Register as a Stylist", new_stylist_path, class: "btn btn-secondary", id: "stylist_register_div_one", style: "display: inline-block;", :method => :get) %>
            </div>
            <div style="clear:both;"></div>
          </div>
    </div>
</section>
