<div class="#">
  <section id = "background_home_one">


        <div class="container">
          <div class = "row">
              <div class="col-sm-9 offset-md-3">
                <div class="jumbotron jumbotron-fluid" id = "jumbo_1">
                  <div id = "jumbo_1_text lead">
                    <h2>With thousands of hair stylists out there, are you really sure you have found your one?</h2>
                  </div>
                </div>
              </div>
          </div>
        </div>


  </section>
</div>
