<div class = "container">
    <div class="jumbotron">
      <h1 class="display-4">Hair Stylists</h1>
      <h2 class="lead display-5">Think skill is all you need to keep your clients happy? Find out how we can help you and your business grow.</h2>
      <hr class="my-4">

      <div class="text-center">
        <h4 style = "padding-bottom:20px;">Check out the Stylist's Page.</h4>
          <%= button_to "THE STYLIST'S PAGE", stylist_home_index_path, class: "btn btn-block", id: "stylist_page_button", style: "color:gold; font-weight:bold;", :method => :get %>
      </div>

    </div>
</div>  <!-- container -->
