<section class="background_home_two">
  <div class = "container">
    <div class = "row">
      <sub-section class = " col col-md-6 text-center" style = "font-size:1.4em;">
            <div class = "m-3">
              <img src="/assets/web-deco/Icon-1.png" />
            </div>

            <div>
              <h2 style = 'text-decoration:underline; margin-bottom:15px;'>Hairlinkd for Stylists</h2>
              <p>Connect with clients who are looking for your skills <p><hr>
              <p>Showcase your skills and standout from the rest<p><hr>
              <p>Build credibility and a strong following<p><hr>
              <p>Gain popularity through reviews<p><hr>
              <p>Grow your customer base<p><hr>


            </div>

            <div>
              <p><strong>Check it Out Now</strong></p>
              <%= button_to("Register as a Stylist", new_stylist_path, class: "btn btn-lg", id: "client_register_div_two", style: "display: inline-block;", :method => :get) %>
            </div>
        </sub-section>

        <sub-section class = "col col-md-6">
            <img src="/assets/background/stylist_chair1.jpg" />
        </sub-section>
      </div>  <!-- row -->
    </div>  <!-- container -->
  </section>
