
<div class="form-group">
  <fieldset>

    <div class ='form-group'>
      <label class = 'form-control-label'>Name</label>
       <%= c.text_field :name, class: 'form-control' %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Description</label>
       <%= c.text_area :description, class: 'form-control' %>
    </div>
  </fieldset>
</div>
