<div class="container">
  <%= link_to("<< Back to Category", hairstyle_category_path(@category)) %>


    <h2>Delete Category</h2>

    <%= form_for(@category, :method => 'delete') do |f| %>

      <p>Are you sure you want to permanently delete this category?</p>
      <p> <strong>NOTE: ALL HAIRSTYLES IN THIS CATEGORY WILL BE DELETED ALSO!</strong></p>

      <div>
        <%= f.submit "Delete Hairstyle", class: "btn" %>
      </div>

    <% end %>

</div>
