<div class = "m-1">
  <%= button_to("<< Back to Profile", client_path(current_user), method: :get, class: "btn btn-sm") %>
</div>

<h3 class = 'text-center m-2' style = "text-decoration:underline;"> Your Hairstyle Requests</h3>
<hr>

<% if @requests.count > 0 %>
  <% @requests.each do |request| %>
  <%= render(:partial => 'index_requests', :html => {:multiport => true}, :locals => {:request => request})%>
    <hr>
  <% end %>
<% else %>

<div class="jumbotron p-4 mt-3 mb-3">
  <div class="text-center">
    <h1 class="display-4">Create Your First Hairstyle Requests</h1>
    <hr class="my-4">
    <p class="lead">Describle the hairstyle that you require. We will make the stylists in your area aware of your request and they can communicate directly with you. All your requests will be kepts here.</p>
  </div>
</div>

    <div class = "m-3 text-center">
      <%= button_to("Create Request", new_request_path, method: :get, class: "btn btn-md") %>
    </div>
<% end %>
