<div class="jumbotron p-4 mt-3 mb-3" style = "background-color:black !important; color:white;">
  <div class="text-center">
    <h1 class="display-4">Hairstyle Requests from Clients</h1>
    <p class="lead">Clients everywhere are looking for stylists who can fulfil their hair needs. If you are that stylist, simply respond to the client’s request and connect directly with them.</p>
  </div>
</div>


  <% @requests.each do |request| %>
  <%= render(:partial => 'index_requests', :html => {:multiport => true}, :locals => {:request => request})%>
    <div class = "m-3 text-center">
      <%= button_to("Respond to Request", new_response_path(:request_id => @request.id), method: :get, class: "btn btn-sm") %>
    </div>
    <hr>
  <% end %>
