<div class = 'container'>

  <% if current_user.has_role? :def_client %>

    <%= render(:partial => 'index_clients_requests', :html => {:multiport => true}) %>

    <% else %>

    <%= render(:partial => 'index_all_requests', :html => {:multiport => true}) %>

  <% end %>





</div>
