<div class = "media w-5">

  <div class ="d-flex align-self-center p-4 mr-3"><h6><%= Client.find(rating.client_id).username %>'s Review:</h5>

  </div>

<div class = "media-body  ">
      <p><span class = "badge badge-primary badge-pill bg-warning " style = "color:black"><%= rating.total_rating %>/5.0</span></p>
      <p><strong>Will you return?: </strong><%= rating.return? ? "Yes" : "No" %>  |
     <strong>Will you recommend?: </strong><%= rating.recommend? ? "Yes" : "No" %></p>
</div>

</div>
