<div class = 'container'>

  <div class = 'm-3'>
      <%= link_to("<< Back to Rating", rating_path(@rating, :client_id => @rating.client.id, :stylist_id => @rating.stylist.id )) %>
  </div>

  <div class = 'text-center'>
    <h2>Delete Review</h2>

    <%= form_for(@rating, :method => 'delete') do |f| %>

      <p>Are you sure you want to permanently delete this review?</p>



      <div class="form-buttons">
        <%= f.submit("Delete Rating", class: 'btn btn-danger btn-sm') %>
      </div>

    <% end %>
  </div>

</div>
