<div class = 'container'>
  <h2>Reviews</h2>

<div class = 'card-group'>

  <% @rating.each do |rating| %>
    <div class = 'stylist-list'>
      <div class = 'card text-center'>

        <div class = 'card-body'>
            <%= render(:partial => 'index_ratings', :html => {:multiport => true}, :locals => {:rating => rating})%>
        </div><!-- card-body -->

        <div class = 'card-footer'>
          <%= link_to("View Review", rating_path(rating))%>
        </div><!-- card-footer -->
        
    </div><!-- card -->

    </div><!-- stylist-list -->
  <% end %>
</div> <!-- card-group -->

</div>
