<div class = "container">

  <%= link_to("<< Back to Stylist", show_stylists_client_path(@stylist)) %>

    <div>
      <%= form_for(@rating) do |f| %>

        <%= error_messages_for(f.object) %>

        <form>
          <%= render(:partial => 'ratings_form', :locals => {:f => f}) %>

        </form>

      <% end %>
    </div>

</div>
