<div>
  <%= link_to("<< Back to Stylist", show_stylists_client_path(@rating.stylist.id, :client_id => current_client.id)) %>
</div>

<div>
  <h2> Rating </h2>
</div>

<div>
  <%= render(:partial => 'show_rating', :hmtl => {:multiport => true}, :locals => {:rating => @rating}) %>
</div>

<div>
  <% if @rating.client.id == current_client.id %>
      <%= link_to("Edit My Rating", edit_rating_path(@rating)) %>
      <%= link_to("Delete My Rating", delete_rating_path(@rating)) %>
  <% end %>
</div>
