<fieldset >
  <div class ='form-group'>
    <label class = 'form-control-label'><strong>Respond with a Message:</strong></label>
    <%= r.text_area :message, class: 'form-control' %>
  </div>

    <%= r.hidden_field :stylist_id, class: 'form-control' %>
    <%= r.hidden_field :request_id, class: 'form-control' %>

</fieldset>
</div>
