<div class="jumbotron text-center p-3">
  <h1 class="display-4">Create Your Portfolio</h1>
  <p class="lead">Show off your skills by uploading your best work here. The more details the better.</p>
  <p>You can add up to 8 items</p>
  <p>THE EXAMPLE BELOW WILL NOT APPEAR ON YOUR PROFILE</p>
</div>

 <div class = "card-body">
       <div class = "card" style = "width:200px;">

   <table>
     <div style = "width:150px;"><img src="/assets/web-deco/Style_2.jpg" class = "pl-4"/></div>

     <tr>
       <th>Hairstyle:</th>
       <td>Faux Loux</td>
     </tr>

     <tr>
       <th>Category:</th>
       <td>Natural Hairstyle</td>
     </tr>
     <tr>
       <th>Details:</th>
       <td>Contact me for the good prices and the best service</td>
     </tr>
   </table>

  </div>
 </div>
