<div class = "card-group">
    <% @portfolio.each do |portfolio| %>
    <div class = 'card-body' style = 'width:auto;'>
      <div class = 'card text-center' style = 'width:200px;'>
        <%= render(:partial => 'portfolios/index_portfolio', :html => {:multiport => true}, :locals => {:portfolio => portfolio})%>

        <div class = 'card-footer'>
          <% if current_user.has_role? :def_stylist %>
            <%= link_to("Edit", edit_portfolio_path(portfolio))%> |
            <%= link_to("Delete", delete_portfolio_path(portfolio))%><br />
          <% end %>
        </div> <!--card-footer-->
      </div> <!--card-->
    </div><!--card-body-->
    <% end %>
</div><!--card group-->
