<div class = "register_form">
  <fieldset>


  <% offering.each do |o| %>

    <div class ='form-group'>

      <label class = 'form-control-label'>o.hairstyle.name</label>

            <%= s.check_box :top_style, class: 'form-control' %>

    </div>

    <% end %>

  </fieldset>

</div>
