<div class = "container">


  <h2 class = 'text-center'>Edit Your Profile</h2>

  <%= form_for(@stylist) do |s| %>

    <%= render(:partial => 'stylist_form', :html => {:multiport => true}, :locals => {:s => s}) %>

    <div class = "text-center mb-2"><%= s.submit 'Update My Profile', class: 'btn btn-hl btn-sm'  %></div>




  <% end %>
</div>
