<div class = "container">


  <h2 class = 'text-center'>Edit Your Profile</h2>

  <%= form_for(@stylist) do |s| %>
  <div class="register_form">
    <%= render(:partial => 'stylists/partials/edit/basic_details', :html => {:multiport => true}, :locals => {:s => s}) %>
    <%= render(:partial => 'stylists/partials/edit/hairstyle', :html => {:multiport => true}, :locals => {:s => s}) %>
    <%= render(:partial => 'stylists/partials/edit/contact', :html => {:multiport => true}, :locals => {:s => s}) %>
  </div>
  <% end %>
</div>
<hr>
