<div class = "container">

    <div class = "m-2 clearfix">

      <% if session[:stylist_id] %>
        <%= button_to("Edit Your Profile", edit_stylist_path(@stylist), method: :get, class: "btn btn-hl btn-sm float-right")%>
      <% end %>

        <%= button_to("<- Stylists", stylists_path, method: :get, class: "btn btn-hl btn-sm float-left")%>

    </div>

    <div>
      <%= render(:partial => 'show_stylist_profile', :html => {:multiport => true}, :locals => {:stylist => @stylist} ) %>
    </div>


<% if session[:stylist_id] %>
  <div class = "text-center mt-5">
      <%= button_to("Delete Profile", delete_stylist_path(@stylist), method: :get, class: "btn btn-danger btn-sm m-4")%>
  </div>
<% end %>


</div>
