<div class = "container">

    <div class = "m-2 clearfix">


      <% if current_user.has_role? :def_admin %>
        <%= button_to("<< Stylists", stylists_path, method: :get, class: "btn btn-hl btn-sm float-left")%>
      <% end %>

    </div>

    <div>
      <%= render(:partial => 'show_stylist_profile', :html => {:multiport => true}, :locals => {:stylist => @stylist} ) %>
    </div>



</div>
