<div class="stylist_info" style ="display:block;" id = "stats">
  <h4 class = "text-center mb-3">My Performance</h4>
  <div class="row text-center">
    <div class="col-lg-3">
      <p>Clients in your area:</p>
            <h5 class = "badge badge-primary badge-pill bg-warning" style = "color:black; padding:20px;">0 </h5>
    </div>
    <div class="col-lg-3">
      <p>Clients looking for your services:</p>
            <h5 class = "badge badge-primary badge-pill bg-warning" style = "color:black; padding:20px;">0 </h5>
    </div>
    <div class="col-lg-3">
        <p>Clients viewing your profile:</p>
              <h5 class = "badge badge-primary badge-pill bg-warning" style = "color:black; padding:20px;">15 </h5>
    </div>
    <div class="col-lg-3">
      <p>Clients who like your profile:</p>
      <h5 class = "badge badge-primary badge-pill bg-warning" style = "color:black; padding:20px;"><%= stylist.clients.count %> </h5>
    </div>
  </div>

</div>
<hr>
