
  <div id = "stylist_portfolio" class = "stylist_info" style ="display:block;">
    <h4 class = "text-center">My Porfolio</h4>

    <% if @portfolio.blank? %>
      <% if (current_user.has_role? :def_stylist) && (current_user.id == @stylist.id) %>


          <div class="jumbotron text-center p-3">
            <h1 class="display-4">Create Your Portfolio</h1>
            <p class="lead">Show off your skills by uploading your best work here. The more details the better.</p>
            <p>You can add up to 8 items</p>
          </div>


      <% end %>

      <% else %>
        <%= render(:partial => 'show_portfolio', :html => {:multiport => true})%>
      <% end %>


    <div class = "text-center">
      <% if (current_user.has_role? :def_stylist) && (current_user.id == @stylist.id) %>
        <% if @portfolio.count < 8 %>
          <%= button_to(" + Add Item to Portfolio", new_portfolio_path(:stylist_id => @stylist.id), method: :get, class: "btn text-center mb-3")%>
        <% end %>
      <% end %>
    </div>
  </div><!--stylist portfolio-->
  <hr>
