.btn{
  background-color:black;
  color:white;
}

.btn-gold{
  background-color:#D4AF37 !important;
  color:black !important;
}

@import "bootstrap";
@import 'bootstrap/glyphicons';


/* Primary stylesheet */

/* Colors */
$red: #993120;
$green: #94B26F;
$light_green: #B6D491;
$yellow: #F2DC87;
$dark_brown: #332318;
$light_brown: #4C2516;
$white: #FFFFFF;
$gold: #D4AF37;


.notice {
  height: 2em;
  padding: 0.5em;
  text-align: center;
  background: $gold;
  color: $dark_brown;
}

.nav-menu{
  background-color: white;
  border-bottom :1px solid grey;
}

.hairlinkd_logo{
  font-size: 2em;
  font-weight: bold;
  //font-family: 'Dancing Script', cursive;
  //font-family: 'Berkshire Swash', cursive;
  //font-family: 'Raleway', sans-serif;
  //font-family: 'Indie Flower', cursive;
  //font-family: 'Great Vibes', cursive;
  //font-family: 'Kaushan Script', cursive;
  //font-family: 'Sacramento', cursive;
  //font-family: 'Handlee', cursive;
  //font-family: 'Caveat', cursive;
  font-family: 'Bad Script', cursive;
  margin-left: 20px;
}

// under construction background
.construction {
  height: 100%;
  background-image: url("/assets/background/construction_bg.jpg");
  width:100%;
  padding:0;
  margin:0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron{
  color:white;
  background-color: black;
}

.info_paragraph{
  font-size: 1.4em;
  font-family: 'Lato', Helvetica, sans-serif;
  width: 100%;
  height: auto;
  line-height: 2em;
  padding: 15px, 0, 15px, 0;

}

.background_home_one {

    background-image: url(/assets/background/Salon-Pic-1.jpg);
    /* Set a specific height */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#FFFAF0;
}

// .background_home_two {
//
//     background-image: url(/assets/background/stylist_chair1.jpg);
//     /* Set a specific height */
//     // height: 600%;
//     // width: 100%;
//
//     /* Create the parallax scrolling effect */
//     // background-attachment: fixed;
//     background-position: right;
//     background-repeat: no-repeat;
//     // background-size: cover auto;
//     // padding-top: 20px;
//     // padding-bottom: 20px;
//
// }

.background_home_three {
    background-color:black;
    color:$gold;
    padding: 20px 0px 20px 0px;
    margin-top:30px;
}

// .background_home_four {
//     background-image: url(/assets/background/client_info.jpg);
//
//     // height: 600px;
//     // width: auto;
//     // background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     // background-size: cover auto;
//     border-radius:300px;
// }

.empty{
  height:600px;
}

.register_form{
  width: 100%;
}

.fihla{
  display:none;
}


/* Stylist SASS*/

.background_stylist{
    height: auto;
    background-image: url(/assets/background/background_4.jpg);
    //background-color:black;
    border: 2px groove black;
    border-radius: 2px;
    background-size: cover;
    margin-bottom: 10px;
}

.stylist_info{
  height: auto;
  width: 100%;
  //border: 2px solid grey;

  padding: 5px;
  margin-bottom: 2px;

  h4{
    text-decoration: underline;
  }
}

#stylist-tab{
   position:absolute;
   bottom:0;
   left:0;
}

// Stylist Profile Completeness
span.status{
  display:block;
  width:10px;
  height:10px;
  margin: 0.25em auto;
  padding: 0;
  border: 1px solid #000000;
}
span.status.true {
  background: green;
  color: green;
}

span.status.false{
  background: red;
  color: red;
}
// For stylist dropdown search bar
[data-toggle~="collapse"] {
    cursor: pointer;
}

/*Stylist Show Pagination CSS*/
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }


/* Clients CSS */

.client_divs{
  margin:5px;
  padding:5px;
  border-top: 1px solid black;
}

/* Styling conversations*/

#conversation{
  border: 1px solid black;
  margin-top: 20px;
}

#conversation-header{

}

#conversations-body, #conversation-main{
  border: 2px solid #D3D3D3;
  border-radius:5px;
  background-color: #DCDCDC;
  margin: 20px;
  padding: 15px;
}

#conversation-body {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 2em;
}
