<% if object && object.errors.size > 0 %>
  <div class = "text-center bg-warning">
    <h4> Oops!!<%= pluralize(object.errors.size, "Error")%> Occurred.</h4>
      <% object.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>

  </div>
<% end %>
