<div class="container">
  <table class = "table">

      <tr>
        <th>#</th>
        <th>Hairstyle</th>
        <th>Date Requested</th>
        <th>Find Stylists</th>
      </tr>

    <% @requests.each do |r| %>
      <tr>
        <td><%=  %></td>
        <td><%= r.hairstyle.name %></td>
        <td><%= r.created_at %></td>
        <td><%= link_to "Find Recommended Stylists", hairstyle_matches_path(:hairstyle_request_id => r.id) %></td> 


      </tr>

  <% end %>
  </table>

</div>
