<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand ml-2" href="#"><img src="/assets/Logo_Side.png" style = "width: 250px;" alt ="hairlinkd logo"/></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id = "navbarDropdownLoginLink" role = "button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style= "color: black;">Login</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownLoginLink">
          <%= link_to("Client Login", client_access_login_path, class: "dropdown-item") %>
          <%= link_to("Stylist Login", stylist_access_stylist_login_path, class: "dropdown-item") %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarSignUPLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style= "color: black;">
          Sign Up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarSignUPLink">
          <%= link_to("Sign Up as a Client", new_client_path, class: "dropdown-item", id: "client_register_link_one") %>
          <%= link_to("Sign Up as a Stylist", new_stylist_path, class: "dropdown-item", id: "stylist_register_link_one") %>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>



    </ul>
  </div>


</nav>
