<!DOCTYPE html>
<html>

<head>
  <title>Hairlinkd</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', href="http://fonts.googleapis.com/css?family=Lato|Bad+Script", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('HL_favicon.png'), :rel => 'icon', :type =>  'image/png' %>


</head>

  <body>

    <div class = 'construction text-center'>


        <div style = "padding-top:50vh; padding-bottom:50vh;">
          <h2 style = "color:#D4AF37;">FINDING THAT PERFECT STYLIST WILL SOON NO LONGER BE A STRUGGLE</h2>
        </div>

</div>

</body>
</html>
