<!DOCTYPE html>
<html>

<head>
  <title>Hairlinkd</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', href="http://fonts.googleapis.com/css?family=Lato|Bad+Script", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('HL_favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  

</head>

  <body>

    <div class = 'container text-center'>

<div class>
      <div class = 'mb-4'><img src="/assets/Hairlinkd-Logo.png"  alt ="hairlinkd logo"/></div>


    <div class = 'mb-4'>
      <h2>WEBSITE UNDER CONSTRUCTION</h2>
    </div>

      <div>
        <h5>FINDING THAT PERFECT STYLIST WILL SOON NO LONGER HAS TO BE A STRUGGLE</h5>
      </div>

    </div>

</body>
</html>
